#search{
    position: absolute;
    height: 25px;
    width: 400px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    border: 0px;
    top:21px;
    background: linear-gradient(90deg, #D9043D, #033E8C);
    padding: 5px;
    color: #F2B705;
    opacity: 0.8;
}
h1{
    font-family: 'Slabo 27px', serif;
    color: #033E8C
}
#sun{
    position: relative;
    width: 30px;
    left: 160px;
    bottom: 50px;
}
#Button_Go{
    color: #A8B2BF;
    position: absolute;
    height: 33px;
    width: 70px;
    background: linear-gradient(90deg, #D9043D, #033E8C);
    border: 0px;
    border-radius: 5px;
    left: 946px;
    top: 22px;
}
.card{
    padding-left: 8px;
    float: left;
    height: 360px;
    width: 100%;
    background: linear-gradient(35deg, #D9043D, #033E8C);
    border-radius: 12px;
    color: #F2B705
}
.mother{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
div img{
    height: 90px;
}

@media(max-width: 450px){
    #search{
        position: absolute;
        height: 15px;
        width: 200px;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 5px;
        border: 0px;
        top:7px;
        background: linear-gradient(90deg, #D9043D, #033E8C);
        padding: 5px;
        color: #F2B705;
        opacity: 0.8;
    }
    h1{
        font-family: 'Slabo 27px', serif;
        color: #033E8C;
        font-size: 14px;
    }
    #sun{
        position: relative;
        width: 15px;
        left: 92px;
        bottom: 29px;
    }
    #Button_Go{
        color: #A8B2BF;
        position: absolute;
        height: 23px;
        width: 70px;
        background: linear-gradient(90deg, #D9043D, #033E8C);
        border: 0px;
        border-radius: 5px;
        left: 80vw;
        top: 9px;
    }
    .card{
        padding-left: 8px;
        float: left;
        height: 360px;
        width: 170px;
        background: linear-gradient(35deg, #D9043D, #033E8C);
        border-radius: 12px;
        color: #F2B705;
        margin-bottom: 7px;
    }
    .mother{
        display: flex;
        flex-wrap: wrap;
    }
    div img{
        height: 90px;
    }
}
@media(max-width: 414px){
    #search{
        position: absolute;
        height: 15px;
        width: 150px;
        margin-left: 25%;
        margin-right: 25%;
        border-radius: 5px;
        border: 0px;
        top:7px;
        background: linear-gradient(90deg, #D9043D, #033E8C);
        padding: 5px;
        color: #F2B705;
        opacity: 0.8;
    }
    h1{
        font-family: 'Slabo 27px', serif;
        color: #033E8C;
        font-size: 12px;
    }
    #sun{
        position: relative;
        width: 15px;
        left: 82px;
        bottom: 26px;
    }
    #Button_Go{
        color: #A8B2BF;
        position: absolute;
        height: 23px;
        width: 40px;
        background: linear-gradient(90deg, #D9043D, #033E8C);
        border: 0px;
        border-radius: 5px;
        left: 80vw;
        top: 8px;
    }
    .card{
        padding-left: 8px;
        float: left;
        height: 370px;
        width: 150px;
        background: linear-gradient(35deg, #D9043D, #033E8C);
        border-radius: 12px;
        color: #F2B705;
        margin-bottom: 20px;
    }
    .mother{
        display: flex;
        flex-wrap: wrap;
    }
    div img{
        height: 90px;
    }
}
